node_modules/

.env
.env.sandbox
.env.qa
.env.backup

.idea/
.DS_Store

cypress/downloads

cypress/screenshots
cypress/report.txt
results/
mochawesome-report/
mocha/
cypress-mochawesome-reporter.log

cypress/accessibility/logs